body {  
  font-family: "OpenSans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: #666666;
  text-align: left;
  line-height: 1.5;
  margin: 0;
}

button {
    width:5em;
    height:1em;
}

input {
    width:10em;
    height:1em;
}
